<div dir="rtl">
    <h4> ثبت سفارش</h4>
</div>
<div dir="rtl">

    <form role="form" dir="rtl" method="post" action=@Url.Action("SearchUser","User")>

     

        <button type="submit" class="btn btn-primary">جستجو</button>

    </form>

</div>
