@model UserViewModel
<table class="table table-bordered table-striped">
    <tr>
        <th>نام کاربر</th>
        <th>شماره موبایل</th>
        <th>وضعیت</th>
        <th>عملیات</th>
    </tr>
    @if (Model.Users.Any())
    {
        @foreach (var item in Model.Users)
        {
<tr>
    <td>@item.UserName</td>
    <td>@item.PhoneNumber</td>
    <td>@item.StatusTitle</td>
    <td>@Html.ActionLink("تایید کاربر", "ConfirmCurrentUser", "User", new { Id = item.Id })</td>

</tr>
        }
    }
</table>